@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root {
    --font-family: 'Inter', sans-serif;
    --primary-color: #301E67;
    --bg-color: #B2B2B2;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
    
}
.apresentacao {
    grid-column: span 2;
    margin-top: 1em;
    padding: 2em;
    border-bottom: 0.5px solid var(--primary-color);
}
.escolha-usuario {
    grid-column: span 2;
    display: grid;
    margin-top: 2em;
}

h1 {
    font-size: 4.5em;
    grid-column: span 2;
    margin-bottom: 1em;
}
h2 {
    font-size: 4em;
    grid-column: span 2;
}

h3 {
    font-size: 2em;
    grid-column: span 2;
}

h4 {
    margin-top: 3em;
    font-size: 1.2em;
}


#escolha {
    font-size: 1.7em;
}

.mensagem {
    font-size: 1.3em;
    grid-column: span 2;
    position: relative;
    bottom: 115px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 3em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 20px 30px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    font-family: var(--font-family);
    font-size: 16px ;
}

.campo-digitado {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    margin-bottom: 7em;
}

#chute-digitado {
    border-radius: 8px;
    width: fit-content;
    margin: 2em 0 0em 4em;
    height: 3em;
    /* padding: 8px; */
    text-align: center;
    background-color: #7663b1;
    color: white;
    border-style: none;
    display: none;
}

#botao {
    background-color: #7663b1;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    padding: 10px;
    margin: 2.2em 0 4em 2em;
    display: none;
}

#microfone {
    margin-top: 2em;
    cursor: pointer;
    font-size:1.5em;
}

#teclado {
    margin-top: 2em;
    cursor: pointer;
    font-size:1.5em;
}
.icones {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    
}